body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: skyblue;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(skyblue,blue);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
#middle-banner{
    background-image: url(images/pic2.png);
    background-repeat: no-repeat;
 
}
footer{
    text-align: center;
    color: blanchedalmond;
    margin-bottom: 50px;
    background-color: black;
}
.food-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
   
}

h2{
    font-size: 40px;
}
#food-type{
    border: 1px gray;
   
   
}
#food-type1{
    border: 1px gray;
   

}
footer{
    text-align: center;
    padding:100px 50px 100px 100px;
    margin:0;
}
.recipies{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
   margin:100px 100px 100px 100px;

}
#first{
    align-items: center;
    padding-left:20px ;
}
.social-media{
    display: flex;
    box-shadow: 10px 10px 10px 10px gray;
    width: 100%;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 100px;
    border-radius: 5px;
}
.last{
    padding-right: 100px;
    padding-left:100px;
   
}
#faka-hobe{
    margin-bottom: 80px;
}
